@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3
  --padding-inline-section: #20px;
}

body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
h2 {
  color: #767272;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #4352A1;
}

/* Custom design */
.banner {
  background-image: url("https://images.unsplash.com/photo-1704080668828-5ed22e758590?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 120px 0;
}

.banner h1{
  font-size: 2.5rem;
  font-weight: 200;
}

.banner p{
  font-size: 2rem;
}

.container {
  width: 700px;
  margin: 50px auto;
  display: grid;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgb(170, 212, 185), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 20px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-medium:hover {
  background-image: linear-gradient(to bottom, rgb(120, 190, 197), rgb(100, 212, 232));
}

/* Media queries */
@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 450px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 30px;
  }
}
